.PortadaCollares{
    width: 60%;
    height: 30%;
    display: block;
    margin: auto;
    background-color: white;
}

.Container-Portada{
    display: inline-block;
}

.juguete{
    width: 50px;
}

.card-img-top{
    width: fit-content;
}
.card-deck{
    width: 50%;


}

.Collar2{
    height: 120%;
    
}

@media screen and (max-width:900px) {
    .card-deck {
        display: inline;
    }
    .card-text {
        display: none;
    }
    .PortadaCollares{
        display: none;
    }
    
}